<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My project</title>
    <!---<script src="assets/js/a.js"></script>!--->
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div>
    <div class="background_image">
        <div class="container">
            <%- include('./assets/html-ejs/partials/nav.ejs') %>
            <div class="page_down">
                <div class="text_style">
                    Online marketplace to buy your favorite games
                </div>
            </div>
        </div>
    </div>
    <div class="background_image_1">
        <div class="container">
            <div class="content_header">
                <div id="content_image_1" class="content_image">
                    <a class="image_cursor" href="assets/html/store.html"><img class="content_image_link" src="/image/cover.png" alt=""></a>
                    <p id="content_1" class="text_style_information">
                        The plague left a deadly scar on the face of Europe in the 14th century.
                        The survivors have to contend with disease and lack of resources.
                        Fight off bandits and learn new crafting techniques.
                        You MUST avoid the plague at all costs.
                        This is the land of the Black Death.
                    </p>
                </div>
                <div id="content_image_2" class="content_image">
                    <p class="text_style_information">
                        Red Barrels invites you to experience mind-numbing terror,
                        this time with friends.
                        Whether you go through the trials alone or in teams,
                        if you survive long enough and complete the therapy,
                        Murkoff will happily let you leave… but will you be the same?
                    </p>
                    <a class="image_cursor" href="assets/html/store.html"><img id="content_2" class="content_image_link" src="/image/poster93760_1.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="background_image_2">
        <div class="container">
            <div class="text_style">
                You can easily find the game on our website
            </div>
            <div class="text_style">
                <p>Everything is convenient</p>
                <p>Compare prices</p>
                <p>Order quickly from any store</p>
            </div>
            <div id="button_1" class="button">
                <a class="button_header" href="assets/html/store.html">Buy now</a>
            </div>
            <div class="icon_background_image_2_header">
                <div class="icon_background_image_2">
                    <a href="https://store.steampowered.com/"><img class="icon_background_image_2_link" src="/svg/markets_logo/logo_steam.svg" alt="Steam"></a>
                    <a href="https://store.epicgames.com/"><img class="icon_background_image_2_link" src="/svg/markets_logo/logo_epic.svg" alt="Epic"></a>
                    <a href="https://www.gog.com/"><img class="icon_background_image_2_link" src="/svg/markets_logo/logo_gog.svg" alt="GOG"></a>
                    <a href="https://www.microsoft.com/"><img class="icon_background_image_2_link" src="/svg/markets_logo/logo_windows.svg" alt="Microsoft"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="page_end">
        <div class="container">
            <div class="page_end_header">
                <div class="header_line">
                    <div class="nav">
                        <a class="nav_link" href="index.html">Terms of Use </a>
                        <a class="nav_link" href="index.html">Privacy Policy</a>
                        <a class="nav_link" href="index.html">FAQ</a>
                    </div>
                </div>
                <div class="icon_page_end_header">
                    <div class="icon_page_end">
                        <a href="https://discord.gg/UBBWV5tnM5"><img class="icon_page_end_link" src="/svg/discord.svg" alt=""></a>
                        <a href="https://t.me/+4_WYpejfXw43OGMy"><img class="icon_page_end_link" src="/svg/twitter.svg" alt=""></a>
                        <a href="https://www.instagram.com/"><img class="icon_page_end_link" src="/svg/instagram.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>